
<app-overview-chart [data]="data1"></app-overview-chart>
<app-prevalence-chart [data]="data2"></app-prevalence-chart>
<app-incidence-chart [cData]="data4" [dData]="data4" [wData]="data5"></app-incidence-chart>




<!-- <mat-accordion class="hide-small" multi=true>

  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>Population</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="chart">Population Chart</div>
  </mat-expansion-panel>

  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>Infection</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="chart">Infection Chart</div>
  </mat-expansion-panel>

  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>Events</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="chart">Events Chart</div>
  </mat-expansion-panel>
</mat-accordion> -->

<!-- <mat-tab-group class="show-small" [@.disabled]="true">
  <mat-tab label="Population">
    <div class="chart">Population Chart</div>
  </mat-tab>

  <mat-tab label="Infection">
    <div class="chart">Infection Chart</div>
  </mat-tab>

  <mat-tab label="Events">
    <div class="chart">Events Chart</div>
  </mat-tab>
</mat-tab-group> -->


<!-- <mat-tab-group dynamicHeight [@.disabled]="true">
  <mat-tab label="Population">
    <nvd3 [options]="multiChart" [data]="data1"></nvd3>
    <div style="text-align: center">
      Seasonal fluctuation of the basic reproduction number
      <nvd3 [options]="sparkLine" [data]="data0"></nvd3>
    </div>
  </mat-tab>

  <mat-tab label="Infection">
    <nvd3 [options]="lineChart" [data]="data2"></nvd3>
  </mat-tab>

  <mat-tab label="Events">
    <mat-radio-group [(ngModel)]="incidence">
      <mat-radio-button value="daily">Daily</mat-radio-button>
      <mat-radio-button value="weekly">Weekly</mat-radio-button>
      <mat-radio-button value="cumulative">Cumulative</mat-radio-button>
    </mat-radio-group>
    <br>
    <nvd3 *ngIf="incidence==='daily'" [options]="lineChart" [data]="data4"></nvd3>
    <nvd3 *ngIf="incidence==='weekly'" [options]="lineChart" [data]="data5"></nvd3>
    <nvd3 *ngIf="incidence==='cumulative'" [options]="lineChart" [data]="data3"></nvd3>

  </mat-tab>
</mat-tab-group> -->

<!-- <div class="content">
  <mat-accordion multi=true>

    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>Infection and Immunity Status</mat-panel-title>
        <mat-panel-description>Prevalence</mat-panel-description>
      </mat-expansion-panel-header>
      <nvd3 [options]="multiChart" [data]="data1"></nvd3>
      <div style="text-align: center">
        Seasonal fluctuation of the basic reproduction number
        <nvd3 [options]="sparkLine" [data]="data0"></nvd3>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>Infection and Disease</mat-panel-title>
        <mat-panel-description>Prevalence</mat-panel-description>
      </mat-expansion-panel-header>
      <nvd3 [options]="lineChart" [data]="data2"></nvd3>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>New Events</mat-panel-title>
        <mat-panel-description>Incidence</mat-panel-description>
      </mat-expansion-panel-header>
      <mat-radio-group [(ngModel)]="incidence">
        <mat-radio-button value="daily">Daily</mat-radio-button>
        <mat-radio-button value="weekly">Weekly</mat-radio-button>
        <mat-radio-button value="cumulative">Cumulative</mat-radio-button>
      </mat-radio-group>
      <br>
      <nvd3 *ngIf="incidence==='daily'" [options]="lineChart" [data]="data4"></nvd3>
      <nvd3 *ngIf="incidence==='weekly'" [options]="lineChart" [data]="data5"></nvd3>
      <nvd3 *ngIf="incidence==='cumulative'" [options]="lineChart" [data]="data3"></nvd3>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Sensitivity Analysis</mat-panel-title>
      <mat-panel-description>{{parameter[key].label}}</mat-panel-description>
    </mat-expansion-panel-header>
    <nvd3 [options]="lineChart" [data]="data6"></nvd3>

    <mat-form-field>
      <mat-label>Parameter</mat-label>
      <mat-select  style="width: 200px" *ngIf="parameter"
      (selectionChange)="setKey($event.value)">
        <mat-option *ngFor="let key of parameterKeys" [value]="key">
          {{parameter[key].label}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="width: 110px; padding-left: 30px;" *ngIf="key">
      <mat-label>Minimum Value</mat-label>
      <input matInput type="number"
      [min]="parameter[key].min"
      [max]="parameter[key].max"
      (input)="setMinValue($event.data)">
    </mat-form-field>

    <mat-form-field style="width: 110px; padding-left: 10px;" *ngIf="key">
      <mat-label>Maximum Value</mat-label>
      <input matInput type="number"
      [min]="parameter[key].min"
      [max]="parameter[key].max"
      (input)="setMaxValue($event.data)">
    </mat-form-field>

    <mat-form-field style="width: 70px; padding-left: 10px;" *ngIf="key">
      <mat-label>Steps</mat-label>
      <input matInput type="number"
      [min]="1"
      [max]="9"
      (input)="setSteps($event.data)">
    </mat-form-field>

    <button mat-button (click)="sensitivity()">Run</button>
  </mat-expansion-panel>
  </mat-accordion>
</div> -->
