
.chart {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: linen
}

mat-tab {
  height: 30vh;
}

.mat-tab-labels {
  justify-content: center;
}

.mat-tab-body.mat-tab-body-active {
  animation: fade 0.5s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


mat-radio-group {
  padding-top: 15px;
  padding-left: 55px;
}
mat-radio-button {
  margin-left: 30px;
}
