.container {
  display: flex;
  flex-direction: column;
  padding: 0 20px 10px;
}

.row {
  display: flex;
  justify-content: flex-end;
}

.mat-expansion-panel-header-title {
  flex-grow: 2;
  align-self: center;
}

.mat-expansion-panel-header-description {
  flex-grow: 0;
  align-self: flex-end;
  margin-right: 0;
}



mat-expansion-body /deep/ .expansion-panel-body {
  padding: 0 20px;
}

mat-form-field {
  text-align: right;
  width:55px;
  background: inherit;
  color: blue;
}

mat-expansion-panel-header {
  position: relative;
}

mat-expansion-panel-header:hover {
  padding-bottom: 30px;
}

.slider {
  display: none;
}

mat-expansion-panel-header:hover .slider {
  display: block;
  position: absolute;
  bottom: 0px;
  width: 80%
}
