  <mat-expansion-panel togglePosition="before">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="row">
          <span>{{parameter.label}}
            <span *ngIf="parameter.unit"> [{{parameter.unit}}]</span>
          </span>

        </div>
      </mat-panel-title>
      <mat-panel-description>
        <mat-form-field>
          <input matInput #input type="number"
          [min]="parameter.min"
          [max]="parameter.max"
          [step]="parameter.step"
          [value]="parameter.default"
          (oninput)="input(input.value)"
          (change)="change(input.value)"
          (click)="click($event)"
          (blur)="blur(input.value)"
          (keydown)="keydown($event)">
        </mat-form-field>
      </mat-panel-description>

      <mat-slider matInput #slider class="slider" type="number"
      [min]="parameter.min"
      [max]="parameter.max"
      [step]="parameter.step"
      [value]="parameter.default"
      (click)="click($event)"
      (input)="doInput(slider.value)"
      (change)="change(slider.value)">
      </mat-slider>

    </mat-expansion-panel-header>

    <div class="container">
      <!-- <mat-slider matInput #slider type="number"
      [min]="parameter.min"
      [max]="parameter.max"
      [step]="parameter.step"
      [value]="parameter.default"
      (input)="doInput(slider.value)"
      (change)="change(slider.value)">
      </mat-slider> -->

      <span [innerHTML]="parameter?.description"></span>
    </div>
  </mat-expansion-panel>
