<h1 mat-dialog-title>Impressum</h1>
<div mat-dialog-content>
  ExploSYS GmbH<br>
  Dr. Markus Schwehm<br>
  Otto-Hahn-Weg 6<br>
  70771 Leinfelden-Echterdingen<br>
  Germany<br>
  <br>
  Telefon +49 (0) 711 756 0801<br>
  <br>
  Handelsregister Amtsgericht Stuttgart, HRB 382705<br>
  <br>
  Rseponsible for this page: Dr. Markus Schwehm (markus.schwehm@explosys.de)
  <br>
</div>
