<h1 mat-dialog-title>About CovidSIM</h1>
<div mat-dialog-content>
  <p style="padding-bottom: 100px;">
    This simulator was developed by<br>
    Martin Eichner (Epimos GmbH) and<br>
    <!-- Stefan Brockmann (Landesgesundheitsamt Baden-Württemberg),  -->
    Markus Schwehm (ExploSYS GmbH)<br>
    supported by IMAAC NEXT Association.
  </p>
  <h4>Impressum</h4>
  ExploSYS GmbH<br>
  Dr. Markus Schwehm<br>
  Otto-Hahn-Weg 6<br>
  70771 Leinfelden-Echterdingen<br>
  Germany<br>
  <br>
  Telefon +49 (0) 711 756 0801<br>
  <br>
  Handelsregister Amtsgericht Stuttgart, HRB 382705<br>
  <br>
  Rseponsible for this page: Dr. Markus Schwehm (markus.schwehm@explosys.de)
  <br>
</div>
<div mat-dialog-actions>
  <mat-toolbar>
    <span><a href="http://epimos.com"><img src="./assets/Epimos.gif" alt="Epimos" width="130px" style="padding-top: 5px;"></a></span>
    <span class="spacer"></span>
    <span><a href="http://explosys.de"><img src="./assets/exploratorySystems.png" alt="ExploSYS" width="120px" style="padding-top: 18px;"></a></span>
    <span class="spacer"></span>
    <span><a href="http://imaac-next.com"><img src="./assets/IMAAC_NEXT.png" alt="IMAAC NEXT" width="180px"></a></span>
  </mat-toolbar>
</div>

