main {
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  flex: 0 0 auto;
  color: #333333;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  position: relative;
  z-index: 3;
}

section {
  flex: 1 0 auto;
  position: relative;
}

app-side-toggle {
  position: absolute;
  left: 10px;
  top: 17px;
  z-index: 10;
}

mat-drawer-container {
  height: 100%;
  background: white;
}

mat-drawer {
  width: 400px;
  padding: 0 10px;
  background: #f5f5f5;
}

.column {
  float: left;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  flex: 0 0 auto;
  text-align: center;
  background: #fafafa;
  padding: 10px 0px;
  border: 1px solid rgba(0,0,0,.12);
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  width: 100%;
  z-index: 3;

}


