<main>

  <header>
    <app-header></app-header>
  </header>

  <section>

    <app-side-toggle></app-side-toggle>

    <mat-drawer-container autosize>

      <mat-drawer mode="side" [opened]="side$ | async">
        <app-control></app-control>
      </mat-drawer>

      <mat-drawer-content>
        <app-content></app-content>
      </mat-drawer-content>

    </mat-drawer-container>

  </section>

  <footer>
    <app-footer></app-footer>
  </footer>

</main>
