  <div class="container">
  <span>{{parameter.label}}</span>
  <span *ngIf="parameter.unit"> [{{parameter.unit}}]</span>
  <span style="width:30px; text-align:right;">{{parameter.default}}</span>
  <mat-slider matInput #input type="number"
  [min]="parameter.min"
  [max]="parameter.max"
  [step]="parameter.step"
  [value]="parameter.default"

  (input)="change(input.value)"></mat-slider>

</div>
