div {
  display: flex;
  justify-content: flex-end;
}

span {
  padding: 0 10px 0 0;
}

input {
  width: 40px;
  height: 14px;
  margin: 1px 0;
  text-align: right;
  color: blue;
}

.mat-slider {
  width: 200px;
  height: 20px;
}

.mat-slider /deep/ .mat-slider-wrapper {
  top: 8px;
}
