<mat-toolbar>Disease Parameters</mat-toolbar>
<div>
  <mat-accordion multi=true>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Population</mat-panel-title>
      </mat-expansion-panel-header>
      <app-input [parameter]="parameter.population_size"></app-input>
      <app-input [parameter]="parameter.initial_cases"></app-input>
      <app-input [parameter]="parameter.external_force_of_infection"></app-input>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Durations</mat-panel-title>
      </mat-expansion-panel-header>
      <app-input [parameter]="parameter.simulation_days"></app-input>
      <br>
      <app-input [parameter]="parameter.latency_duration"></app-input>
      <app-input [parameter]="parameter.prodromal_duration"></app-input>
      <app-input [parameter]="parameter.infective_duration"></app-input>
      <app-input [parameter]="parameter.declining_duration"></app-input>
      <app-input [parameter]="parameter.hospitalisation_duration"></app-input>
      <app-input [parameter]="parameter.icu_duration"></app-input>

      <span class="red">(advanced settings)</span>
      <app-input [parameter]="parameter.latency_stages"></app-input>
      <app-input [parameter]="parameter.prodromal_stages"></app-input>
      <app-input [parameter]="parameter.infective_stages"></app-input>
      <app-input [parameter]="parameter.declining_stages"></app-input>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Severity</mat-panel-title>
      </mat-expansion-panel-header>
      <app-input [parameter]="parameter.symptomatic_course_of_disease"></app-input>
      <app-input [parameter]="parameter.medical_consultations_by_symptomatic_cases"></app-input>
      <app-input [parameter]="parameter.hospitalisation_of_symptomatic_cases"></app-input>
      <app-input [parameter]="parameter.icu_patients_among_hospitalized_cases"></app-input>
      <app-input [parameter]="parameter.case_fatality_of_symptomatic_cases"></app-input>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Contagiousness</mat-panel-title>
      </mat-expansion-panel-header>
      <app-input [parameter]="parameter.basic_reproduction_number"></app-input>
      <app-input [parameter]="parameter.maximal_seasonal_transmission_factor"></app-input>
      <app-input [parameter]="parameter.maximal_seasonal_transmission_day"></app-input>
      <app-input [parameter]="parameter.prodromal_contagiousness"></app-input>
      <app-input [parameter]="parameter.declining_contagiousness"></app-input>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Detection</mat-panel-title>
      </mat-expansion-panel-header>
      <span class="red">(advanced settings)</span>
      <div class="comment">
        Detection of COVID-19 in an apparently free Population by random
        SARS-CoV-2 tests in patients with Influenza-Like Illness (ILI)
      </div>
      <app-input [parameter]="parameter.detection_probability_medical_consultation"></app-input>
      <app-input [parameter]="parameter.detection_probability_hospitalisation"></app-input>
      <app-input [parameter]="parameter.detection_probability_deceased_case"></app-input>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-toolbar>Interventions</mat-toolbar>
  <mat-accordion  multi=true>
      <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Case Isolation</mat-panel-title>
      </mat-expansion-panel-header>
      <app-input [parameter]="parameter.symptomatic_cases_to_be_isolated"></app-input>
      <app-input [parameter]="parameter.case_isolation_capacity"></app-input>
      <app-input [parameter]="parameter.contact_reduction_home_isolation"></app-input>
      <app-input [parameter]="parameter.case_isolation_begin"></app-input>
      <app-input [parameter]="parameter.case_isolation_range"></app-input>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>General Contact Reduction</mat-panel-title>
      </mat-expansion-panel-header>
      <app-input [parameter]="parameter.contact_reduction_factor"></app-input>
      <app-input [parameter]="parameter.contact_reduction_begin"></app-input>
      <app-input [parameter]="parameter.contact_reduction_range"></app-input>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Triggered General Contact Reduction</mat-panel-title>
      </mat-expansion-panel-header>
      <app-input [parameter]="parameter.sick_threshold"></app-input>
      <app-input [parameter]="parameter.sick_triggered_contact_reduction"></app-input>
      <app-input [parameter]="parameter.hospitalisation_threshold"></app-input>
      <app-input [parameter]="parameter.hospitalisation_triggered_contact_reduction"></app-input>
      <app-input [parameter]="parameter.icu_threshold"></app-input>
      <app-input [parameter]="parameter.icu_triggered_contact_reduction"></app-input>
    </mat-expansion-panel>


  </mat-accordion>
</div>
