mat-toolbar {
  display: flex;
  justify-content: center;
  color: #999;
}

mat-drawer {
  padding: 0 10px;
  background: #f5f5f5;
}

mat-panel-description {
  color: salmon
}

mat-tab-group /deep/ .mat-tab-label {
  padding: 0 18px; min-width: 80px;
}

mat-expansion-panel /deep/ .mat-expansion-panel-body {
  padding: 0;
}

.red {
  padding: 0 48px 10px;
  color: red;
}

.comment {
  padding: 0 48px 10px;
}
